################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/ScrobblerForKbMediaPlayer/bin
/ScrobblerForKbMediaPlayer/obj
/packages
*.suo
/release
/.vs
